<html>
    <head>
        <title><g:layoutTitle default="Grails" /></title>
        <link rel="stylesheet" href="${createLinkTo(dir:'css',file:'main.css')}" />
        <link rel="shortcut icon" href="${createLinkTo(dir:'images',file:'favicon.ico')}" type="image/x-icon" />
        <g:layoutHead />
        <g:javascript library="application" />				
    </head>
    <body>
		<!--100% Top Nav Wrapper-->
		<div id="top_nav_wrapper">
		<!--Fixed Width Navigation Container-->
		<div id="top_nav_container">
		<!--Navigation Items List-->
			<ul class="top_nav">
			<li>Link 1</li>
			<li class="active">Link 2</li>
			<li>Link 3</li>
			</ul>
		</div>
		</div>
		<!-- End of Top Navigation-->
	
		<!-- Main Wrapper Contains all content in a centered fixed column of 760px -->
		<div id="main_wrapper">
		<!-- Container with BG image of Company Header, Application, Name, etc. with space for Hello User -->
		<div id="logo_container"></div>
		<!-- Main sliding doors tabbed navigation  
		<div id="main_nav">
			<ul>
			  <li><a href="#">Link 1</a></li>
			  <li id="current"><a href="#">Current Link 2</a></li>
			  <li><a href="#">Link 3</a></li>
			  <li><a href="#">Link 4</a></li>
			  <li><a href="#">Link 5</a></li>
			</ul>
		</div> -->
		<!-- Contains main content area -->
		<div id="body_container">
			<div id="spinner" class="spinner" style="display:none;">
				<img src="${createLinkTo(dir:'images',file:'spinner.gif')}" alt="Spinner" />
			</div>	
			<g:layoutBody />
		</div>
		<div id="footer">
		&copy; 2007 Delegata Corporation. All Rights Reserved.
		</div>	
		</div>
	</body>	
</html>