<plugin name='jasper' version='0.7.6.1'>
  <author>Marcos Pereira</author>
  <authorEmail>mfpereira@gmail.com</authorEmail>
  <title>This plugin adds easy support for jasper format reports.</title>
  <description>
	With Jasper Plugin the developer can easily put jasper reports into an application.
    </description>
  <resources>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>JasperController</resource>
    <resource>JasperService</resource>
    <resource>JasperTagLib</resource>
  </resources>
</plugin>